/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* CSS CUSTOM PROPERTIES */

:root {
  --ff-primary: 'Alata', sans-serif;
  --ff-secondary: 'Josefin Sans', sans-serif;

  --fw-regular: 300;
  --fw-semiBold: 400;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-850: 3rem;
  --fs-900: 4.5rem;

  --clr-primary-100: hsl(0, 0%, 100%);
  --clr-primary-300: hsl(0, 0%, 55%);
  --clr-primary-500: hsl(0, 0%, 41%);
  --clr-primary-900: hsl(0, 0%, 0%);
}

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100svh;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style: none;
}

a {
  font-family: var(--ff-primary);
  text-decoration: none;
}

/* GLOBAL STYLES */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

/* COMPONENTS */

.btn--light {
  font-size: var(--fs-300);
  font-weight: var(--fw-semiBold);
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color: transparent;
  outline: 1px solid var(--clr-primary-900);
  border: none;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  cursor: pointer;
}

.btn--light:hover,
.btn--light:focus {
  background-color: var(--clr-primary-900);
  color: var(--clr-primary-100);
  transition: all 400ms ease-in-out;
}

.link--hover::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  left: 0px;
  bottom: -4px;
  transform: scaleX(0);
  transition: transform 300ms ease-in;
  background-color: var(--clr-primary-100);
}

.link--hover:hover::after {
  display: block;
  transform: scaleX(1);
}

/* HEADER & NAV */

.header__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 650px;
  background-image: url(../images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.header__bg {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 90rem;
  height: 100%;
  padding: 4rem 8rem;
  transition: all 400ms ease-in-out;
}

.header__logo,
.main__nav,
.menu__icon {
  z-index: 10;
}

.main__nav--list {
  display: flex;
}

.main__nav--item {
  margin-left: 2rem;
}

.main__nav--link {
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
  color: var(--clr-primary-100);
  position: relative;
}

.menu__icon {
  display: none;
  width: 40px;
  height: 25px;
  background-image: url(../images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 350ms ease-in-out;
}

.menu__icon--close {
  background-image: url(../images/icon-close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(180deg);
}

.header__title {
  position: relative;
  left: -1px;
  max-width: 41rem;
  min-width: 37.5rem;
  height: 17.5rem;
  margin-top: 2.5rem;
  padding: 2rem;
  outline: 2px solid var(--clr-primary-100);
  outline-offset: -2px;
}

.header__heading {
  font-family: var(--ff-secondary);
  font-size: var(--fs-900);
  font-weight: var(--fw-regular);
  text-transform: uppercase;
  color: var(--clr-primary-100);
  line-height: 1.1;
  align-items: center;
}

/* HERO */

.hero {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 90rem;
  margin-top: 9rem;

  transition: all 400ms ease-in-out;
}

.hero__img {
  margin-right: 23rem;
}

.hero__info {
  position: absolute;
  bottom: 0rem;
  right: -3rem;
  max-width: 35.5rem;
  background-color: var(--clr-primary-100);
  padding-top: 3rem;
  padding-left: 5rem;
}

.hero__title {
  font-family: var(--ff-secondary);
  font-size: var(--fs-850);
  font-weight: var(--fw-regular);
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

.hero__text {
  color: var(--clr-primary-300);
  font-weight: var(--fw-semiBold);
  font-size: var(--fs-300);
}

/* GALLERY */

.gallery {
  margin-top: 11rem;
}

.gallery__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery__title {
  font-size: var(--fs-850);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  text-transform: uppercase;
}

.gallery__images {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 28.125rem;
  gap: 1.75rem;
  margin-top: 4rem;
  position: relative;
  cursor: pointer;
}

.gallery__images--title {
  font-size: var(--fs-700);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  color: var(--clr-primary-100);
  text-transform: uppercase;
  line-height: 1;
}

.gallery__images--mask {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 2rem 2.5rem;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.gallery__images--img {
  transition: all 400ms ease-in-out;
}

.gallery__images--img:nth-child(1) {
  background-image: url(../images/desktop/image-deep-earth.jpg);
}

.gallery__images--img:nth-child(2) {
  background-image: url(../images/desktop/image-night-arcade.jpg);
}

.gallery__images--img:nth-child(3) {
  background-image: url(../images/desktop/image-soccer-team.jpg);
}

.gallery__images--img:nth-child(4) {
  background-image: url(../images/desktop/image-grid.jpg);
}

.gallery__images--img:nth-child(5) {
  background-image: url(../images/desktop/image-from-above.jpg);
}

.gallery__images--img:nth-child(6) {
  background-image: url(../images/desktop/image-pocket-borealis.jpg);
}

.gallery__images--img:nth-child(7) {
  background-image: url(../images/desktop/image-curiosity.jpg);
}

.gallery__images--img:nth-child(8) {
  background-image: url(../images/desktop/image-fisheye.jpg);
}

.gallery__images--img:hover {
  opacity: 0.3;
}

/* FOOTER */

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 11rem;
  background-color: var(--clr-primary-900);
}

.footer__wrapper {
  display: flex;
  width: 100%;
  max-width: 90rem;
  padding-inline: 11rem;
  padding-block: 3rem;
  transition: all 400ms ease-in-out;
}

.footer--left,
.footer--right {
  width: 50%;
}

.footer--right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__nav {
  display: flex;
}

.footer__logo img {
  margin-top: 0.2rem;
  margin-bottom: 1.5rem;
}

.footer__nav--item {
  margin-right: 2rem;
}

.footer__nav--link {
  font-size: var(--fs-300);
  font-weight: var(--fw-semiBold);
  color: var(--clr-primary-100);
  position: relative;
}

.footer__social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2.3rem;
}

.footer__social--item {
  position: relative;
  margin-left: 1rem;
  padding-bottom: 0.2rem;
}

.footer--copyright {
  color: var(--clr-primary-500);
  font-weight: var(--fw-semiBold);
  font-size: var(--fs-300);
}
